.MainContent {
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
}

.MainContent > hr {
  width: 90%;
  background-color: darkgray;
}

.Overview > h2{
  padding-bottom: 10px;
  font-size: 25px;
  font-family: "Google Sans","Helvetica",arial,sans-serif;;
}

.Overview, .Screenshots, .Pre-requisites, .Schematics, .License, .Build {
  color: #4b4b4b;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: 55px;
}

.Schematics > img {
  width: 500px;
  height: 700px;
}

.Screenshots > img {
  width: 90%;
  height: 350px;
}